.link-active {
  font-weight: 600;
  text-decoration: underline solid 2px theme('colors.secondary-medium');
  font-size: 16px;
  margin: 2px 16px 0;
}

@screen lg {
  .link-active {
    margin: 4px 27px 0;
  }
}

.btn-lg {
  @apply h-[80px] w-[230px] text-[24px] font-bold;
}

.btn-md {
  @apply h-[70px] w-[190px] text-[20px] font-bold;
}

.btn-sm {
  @apply h-[60px] w-[180px] text-[18px] font-bold;
}

.btn-xs {
  @apply h-[50px] w-[350px] text-[18px] font-semibold;
}
