@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Cormorant:ital,wght@1,300&family=Michroma&family=Roboto:wght@100;300;400;700&display=swap');
@import './custom-components.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-grey-dark;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
  text-decoration: underline solid 2px theme('colors.secondary-medium');
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

*:focus-visible {
  outline: 3px solid theme('colors.secondary-medium');
}

h1 {
  @apply font-changa-one text-center mx-auto max-w-[300px] sm:max-w-[400px] lg:max-w-[600px] text-[31px] leading-[38px] sm:text-[42px] sm:leading-[50px] lg:text-[45px] lg:leading-[60px];
}

input::placeholder {
  color: theme('colors.grey-light');
  font-weight: 100;
}

input:focus-visible {
  outline: 1px solid theme('colors.secondary-medium');
}